---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SEO } from "astro-seo";
import i18next, { t } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";

const { title } = Astro.props;

const siteUrl = await import.meta.env.SITE_URL;
const siteName = await import.meta.env.SITE_NAME;
const currentPath = Astro.url.pathname.substring(1);

const image = `${siteUrl}/ogp.jpeg`;
const pageUrl = currentPath ? `${siteUrl}${currentPath}` : siteUrl;
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <SEO
      title={title}
      titleTemplate={title}
      extend={{
        link: [{ rel: "icon", href: `${siteUrl}/favicon.ico` }],
        meta: [
          {
            name: "viewport",
            content: "width=device-width",
          },
          {
            name: "theme-color",
            content: "#fff",
          },
          {
            name: `description`,
            content: `meta description`,
          },
          {
            property: `og:title`,
            content: title,
          },
          {
            property: `og:description`,
            content: `meta description`,
          },
          {
            property: `og:type`,
            content: `website`,
          },
          { property: "og:url", content: pageUrl },
          { property: "og:site_name", content: siteName },
          { property: "og:image", content: image },
        ],
      }}
    />
    <HeadHrefLangs />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
